{% extends "experiment_wrapper.html" %}

{% block title %} Experiment {% endblock %}

{% block extra_head %}
    <script src="{{url_for('static', filename='jspsych/jspsych.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jspsych/plugins/jspsych-html-keyboard-response.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jspsych/plugins/jspsych-image-keyboard-response.js')}}" type="text/javascript"></script>
    <script src="{{url_for('static', filename='jspsych/plugins/jspsych-survey-multi-choice.js')}}" type="text/javascript"></script>    
    <script src="{{url_for('static', filename='jspsych/plugins/jspsych-game-rat-skill.js')}}" type="text/javascript"></script>    
	<script src="{{url_for('static', filename='jspsych/plugins/jspsych-external-html.js')}}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='jspsych/css/jspsych.css')}}" type="text/css"></link>
    <link rel="stylesheet" href="{{url_for('static', filename='css/experiment.css')}}" type="text/css"></link>

    <style>
        html{
            overflow-y: hidden;        
        }
        #jspsych-target{
            width: 100%;
            height: 100%;
        }
    </style>


{% endblock %}


{% block body %}
    <div id="jspsych-target">
    </div>
{% endblock %}


{% block after_body %}

  <script>
    var expt_data = {{data|safe}};
    console.log(expt_data);

    /* Helper functions */
    var add_stimulus_text = function(word_list){
        for (var i = 0; i< word_list.length; i++){
            word_list[i]['stimulus'] = "<p style='font-size:2em;'>" + word_list[i]['token'] + "</p>";
        }
    };

    var set_intrial_items = function(study_list, test_list){
        // intrial: the token was on the study list
        var intrial = {};
        for(var i = 0; i < study_list.length; i++){
            intrial[study_list[i]['token']] = study_list[i];
        }
        for (var i = 0; i < test_list.length; i++){
            test_list[i]['intrial']  = intrial.hasOwnProperty(test_list[i]['token']) ;
        }
    };

    var send_debrief = function(data){
        if(_record_task_complete){
            //window.location.href ="/debrief";
            var form = document.createElement("form");
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/debrief');

            var input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', 'data');
            input.setAttribute('value', data);
            form.appendChild(input);


            input = document.createElement('input');
            input.setAttribute('type', 'hidden');
            input.setAttribute('name', 'uid');
            input.setAttribute('value', "{{uid}}");
            form.appendChild(input);

            if(_mturk){
                input = document.createElement('input');
                input.setAttribute('type', 'hidden');
                input.setAttribute('name', 'mturk');
                input.setAttribute('value', _mturk);
                form.appendChild(input);
            }
            
            document.body.appendChild(form);
            form.submit();

        }else{
            window.setTimeout(function(){
                send_debrief(data);
            }, 1000);
        } 
    };


    var check_consent = function(elem) {
      if ($('#consent_checkbox').is(':checked')) {
        return true;
      }
      else {
        alert("If you wish to participate, you must check the box next to the statement 'I agree to participate in this study.'");
        return false;
      }
      return false;
    };




    /* create timeline */
    var timeline = [];

    /* define welcome message trial */
    var welcome_block = {
      type: "html-keyboard-response",
      stimulus: "Welcome to the experiment. Press any key to begin.",
      on_start: function(trial) { $( "#jspsych-target" ).focus(); },
      data: {'part': 'welcome'}
    };
    timeline.push(welcome_block);


    var plain_langauge_statement = {
    type:'external-html',
    url: "{{url_for('static', filename='html/plain-language-statement.html')}}",
    cont_btn: "next",
    data: {'part': 'statement'}
    };

    timeline.push(plain_langauge_statement);

    // Consent
    var consent = {
    type:'external-html',
    url: "{{url_for('static', filename='html/consent.html')}}",
    cont_btn: "next",
    check_fn: check_consent,
    data: {'part': 'consent'},
    on_finish:function(){
            if(_rep===1&&_rep_on_consent===1){
                _mark_rep_as_done();
            }
    }
    };

    timeline.push(consent);


    // declare the block.
    var trial = {
        type:'external-html',
        url: "{{url_for('static', filename='html/instructions.html')}}",
        cont_btn: "read_instructions",
        data: {'part': 'instructions'}
    };

    timeline.push(trial);


    /* Setup study documents and the comprehension questions */

    study_document_order = expt_data.study_document_order;	

	study_documents = [
		{
			url: "{{url_for('static', filename='html/document-1.html')}}",
			questions: [
				{
					prompt: "Lorem ipsum dolor sit amet?",
					options: [
						"Etiam ac dolor ornare, efficitur tortor nec, dapibus ligula.",
						"Morbi porta est id iaculis auctor.",
						"Nam malesuada sapien velit."
					],
					required: true
				},
				{
					prompt: "Aliquam vehicula tristique augue, at tincidunt diam eleifend id?",
					options: [
						"Duis erat turpis, tincidunt ac diam id, malesuada tincidunt dolor",
						"Suspendisse ante sem, suscipit in sagittis id, ornare sed lacus.",
						"Sed nibh magna, rutrum non sapien in, commodo gravida libero."
					],
					required: true
				}
			]
		},
		{
			url: "{{url_for('static', filename='html/document-2.html')}}",
			questions: [
				{
					prompt: "Lorem ipsum dolor sit amet?",
					options: [
						"Etiam ac dolor ornare, efficitur tortor nec, dapibus ligula.",
						"Morbi porta est id iaculis auctor.",
						"Nam malesuada sapien velit."
					],
					required: true
				},
				{
					prompt: "Aliquam vehicula tristique augue, at tincidunt diam eleifend id?",
					options: [
						"Duis erat turpis, tincidunt ac diam id, malesuada tincidunt dolor",
						"Suspendisse ante sem, suscipit in sagittis id, ornare sed lacus.",
						"Sed nibh magna, rutrum non sapien in, commodo gravida libero."
					],
					required: true
				}
			]
		},
		{
			url: "{{url_for('static', filename='html/document-3.html')}}",
			questions: [
				{
					prompt: "Lorem ipsum dolor sit amet?",
					options: [
						"Etiam ac dolor ornare, efficitur tortor nec, dapibus ligula.",
						"Morbi porta est id iaculis auctor.",
						"Nam malesuada sapien velit."
					],
					required: true
				},
				{
					prompt: "Aliquam vehicula tristique augue, at tincidunt diam eleifend id?",
					options: [
						"Duis erat turpis, tincidunt ac diam id, malesuada tincidunt dolor",
						"Suspendisse ante sem, suscipit in sagittis id, ornare sed lacus.",
						"Sed nibh magna, rutrum non sapien in, commodo gravida libero."
					],
					required: true
				}
			]
		}
	];


	/* Display Study Documents and test comprehension */
	for (var i = 0; i < study_documents.length; i++){
		var trial = {
			type:'external-html',
			url: study_documents[study_document_order[i]].url,
			cont_btn: "next",
            data: {'part': 'view_document'}
		};

    	timeline.push(trial);

		var comprehension = {
			type: 'survey-multi-choice',
			questions: study_documents[i].questions,
            data: {'part': 'comprehension'}
		};

    	timeline.push(comprehension);
		
	}



	/* Show Study List */
	study_list = expt_data.study_list;
    add_stimulus_text(study_list);
    var study_node = {
        timeline_variables: study_list,
        timeline: [
            {
                description: 'Trial List',
                type: 'html-keyboard-response',
                stimulus: jsPsych.timelineVariable('stimulus'),
                choices: jsPsych.NO_KEYS,
                trial_duration: 2000,
                data: {'part': 'trial_list', 'token': jsPsych.timelineVariable('token') }
            }
        ]
    };

    timeline.push(study_node);

    // card game
    timeline.push({
        type: 'game-rat-skill',
        card_delay: 1200, //1200,
        game_duration: 45, // 45
        data: {'part': 'card_game'}
    });


    /* Show Test List */
	test_list = expt_data.test_list;
    add_stimulus_text(test_list); 
	set_intrial_items(study_list, test_list);

    var test_node = {
        timeline_variables: test_list,
        timeline: [
            {
                description: 'Test List',
                type: 'html-keyboard-response',
                stimulus: jsPsych.timelineVariable('stimulus'),
                choices: ['y', 'n'],
                on_start: function(trial) { $( "#jspsych-target" ).focus(); },
                prompt: "<p>Was this word in the study list? (Y or N)</p>",
                data: {
                    part: 'test_list',
                    token: jsPsych.timelineVariable('token'),
                    intrial: jsPsych.timelineVariable('intrial'),
                    frequency: jsPsych.timelineVariable('frequency')
                }
            }
        ]
    };

    timeline.push(test_node);
    

    /* start the experiment */
    jsPsych.init({
      timeline: timeline,
      display_element: 'jspsych-target',
      on_finish: function() {
        // jsPsych.displayData will print your data on the page.
        // if you want to see it, comment out send_debrief() otherwise 
        // it'll send you through to another page before you have a chance to 
        // look at the data  
        //
        jsPsych.data.displayData();

        // To save your data you would uncomment the 
        // code below 
        // 
        //var all_data = jsPsych.data.get().json();
        //_send_task_data(all_data);
        //send_debrief();
      },
      default_iti: 250
    });
	
  </script>

{% endblock %}
