<html>
    <head>


        <style>
        .content{
        width:80%;
        }
        span{
            font-weight:600;
        }
        #reason{
            font-size:2em;
        }
        .survey_code_container{
            background-color: #CCC;
            width: 50%;
            padding: 0.75em;    
        }
        .exp-document-container{
            width:80%;
            margin: auto;
        }
        </style>

    </head>
    <body>
            <div class="content">
                <div style="margin-top:20px;"></div>
                <img src="//static.mall-lab.com/static/images/university.png" style="float:right;width:100px;padding:8px" />
                <h2>Unfortunately you cannot participate in this experiment</h2>
                <div class="exp-document-container">
                    <div class="survey_code_container">
                    <h4>Restriction:</h4>
                    <p id="reason">{{reason}}</p>
                    </div>
                    <div style="margin-top:60px;"></div>

                </div>
                <div style="margin-top:30px;"></div>
            </div>

    </body>
</html>
